<div class="px-1 md:px-5">
  <h2 i18n>Account Info</h2>

  <ul class="list-none ps-0">
    @if (!player.isBank) {
      <li class="name pb-[5px]">
        <ng-container i18n>Name</ng-container>: {{ player.name }}
      </li>
    }
    <li>
      <ng-container i18n>Balance</ng-container>:
      @if (updatingBalance) {
        <ng-container i18n>loading...</ng-container>
      } @else {
        {{ balance | currency:'USD':'symbol':'1.0-0':'en-US' }}
      }
    </li>
  </ul>

  <mat-divider></mat-divider>

  @defer {
    <h2 i18n>Transfer Money</h2>
    <app-transfer-money></app-transfer-money>

    <app-payment-log (balanceChange)="updateBalance()"></app-payment-log>
  }
</div>
