<form [formGroup]="form" (ngSubmit)="makeTransaction()">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field floatLabel="always">
        <mat-label i18n>Amount</mat-label>
        <span matTextPrefix>$&nbsp;</span>
        <input autocomplete="off" matInput
            formControlName="amount" pattern="[0-9]*">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label i18n>Player</mat-label>
        <mat-select formControlName="recipientId">
          <mat-option i18n value="">Choose a Player</mat-option>
          <mat-option *ngFor="let r of recipients" [value]="r.id">
            {{ r.name | localizeName }}
            <mat-icon *ngIf="r.isBank">account_balance</mat-icon>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row" [class.center]="isHandset">
    <div class="col-6">
      <button mat-flat-button [disabled]="form.invalid || isLoading">
        <span i18n>Transfer Amount</span>
      </button>
    </div>
  </div>
</form>
