<form [formGroup]="form" (ngSubmit)="makeTransaction()">
  <div class="flex flex-col md:flex-row">
    <div class="md:pe-5">
      <mat-form-field class="w-full" floatLabel="always">
        <mat-label i18n>Amount</mat-label>
        <span matTextPrefix>$&nbsp;</span>
        <input autocomplete="off" matInput
            formControlName="amount" pattern="[0-9]*">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="w-full">
        <mat-label i18n>Player</mat-label>
        <mat-select formControlName="recipientId">
          <mat-option i18n value="">Choose a Player</mat-option>
          @for (r of recipients; track r) {
            <mat-option [value]="r.id">
              {{ r.name | localizeName }}
              @if (r.isBank) {
                <mat-icon>account_balance</mat-icon>
              }
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button class="w-full md:w-fit" mat-flat-button [disabled]="form.invalid || isLoading">
    <span i18n>Transfer Amount</span>
  </button>
</form>
