/* You can add global styles to this file, and also import other style files */
@use 'variables' as *;

html, body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.loading-backdrop {
  overflow: hidden;
}

.snack-error {
  color: white;
  background: $monopoly-red;
}

table.monopoly-table {
  border-collapse: collapse;

  thead {
    background: $monopoly-red;
    color: white;
  }

  th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
  }
}
