/* You can add global styles to this file, and also import other style files */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --spacing-1: 1em;
  --spacing-2: 2em;
  --spacing-3: 3em;
  --spacing-4: 4em;
  --spacing-5: 5em;
  --spacing-6: 6em;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.loading-backdrop {
  overflow: hidden;
}

table.monopoly-table {
  border-collapse: collapse;

  th, td {
    padding: 10px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
  }
}
