@import 'variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-backdrop {
  overflow: hidden;
}

.snack-error {
  color: white;
  background: $monopoly-red;
}
