@import '~@angular/material/theming';
@import 'variables';
@include mat-core();

$monopoly-primary: mat-palette($mat-red, 900);
$monopoly-accent: mat-palette($mat-grey, 50);

$monopoly-theme: mat-light-theme($monopoly-primary, $monopoly-accent);
@include angular-material-theme($monopoly-theme);

.mat-snack-bar-container {
  color: black;
  background: $monopoly-green;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
              0px 6px 10px 0px rgba(0, 0, 0, 0.14),
              0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.mat-simple-snackbar-action {
  color: inherit;
}
