@use '@angular/material' as mat;
@use './app/toolbar-theme';
@use './app/loading-spinner/loading-spinner-theme';
@use './app/account/payment-log/payment-log-theme';
@use './app/banker/account-list/account-list-theme';

$theme-font: Roboto;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
    typography: $theme-font,
  ));
}

body {
  font-family: $theme-font, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.error {
  color: var(--mat-sys-error)
}

table.monopoly-table {
  thead {
    background-color: var(--mat-sys-tertiary-container);
  }

  th, td {
    border-color: var(--mat-sys-outline-variant);
  }
}
