@use '@angular/material' as mat;
@use './app/toolbar-theme';
@use './app/loading/loading-theme';
@use './app/player/payment-log/payment-log-theme';
@use './app/banker/player-list/player-list-theme';

@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$rose-palette,
    tertiary: mat.$red-palette,
  ),
));

@include toolbar-theme.theme($theme);
@include loading-theme.theme($theme);
@include payment-log-theme.theme($theme);
@include player-list-theme.theme($theme);

html {
  @include mat.all-component-themes($theme);
}
@include mat.typography-hierarchy($theme);

.error {
  color: mat.get-theme-color($theme, error);
}

table.monopoly-table {
  thead {
    background-color: mat.get-theme-color($theme, tertiary-container);
  }

  th, td {
    border-color: mat.get-theme-color($theme, outline-variant);
  }
}
