@use '@angular/material' as mat;

@mixin theme($theme) {
  app-payment-log {
    table {
      th, td {
        border-color: mat.get-theme-color($theme, outline-variant);
      }
    }

    td {
      &.incoming {
        color: mat.get-theme-color($theme, on-secondary-fixed);
        background-color: mat.get-theme-color($theme, secondary-fixed);
      }
      &.outgoing {
        color: mat.get-theme-color($theme, on-tertiary-fixed);
        background-color: mat.get-theme-color($theme, tertiary-fixed-dim);
      }
    }
  }
}
