app-payment-log {
  table {
    th, td {
      border-color: var(--mat-sys-outline-variant);
    }
  }

  td {
    &.incoming {
      color: var(--mat-sys-on-secondary-fixed);
      background-color: var(--mat-sys-secondary-fixed);
    }
    &.outgoing {
      color: var(--mat-sys-on-tertiary-fixed);
      background-color: var(--mat-sys-tertiary-fixed-dim);
    }
  }
}
