<table class="mx-auto my-3">
  <thead>
    <tr>
      <th i18n>Time</th>
      <th i18n>Type</th>
      <th i18n>Account</th>
      <th i18n>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of payments">
      <td>{{ p.tx.date | date:'h:mm a' }}</td>
      <td appPaymentType [isIncoming]="p.isIncoming">
        <mat-icon *ngIf="p.isIncoming; else elseBlock">arrow_downward</mat-icon>
        <ng-template #elseBlock><mat-icon>arrow_upward</mat-icon></ng-template>
      </td>
      <td>{{ p.account.name | localizeName }}</td>
      <td>${{ p.tx.amount }}</td>
    </tr>
    <tr *ngIf="payments.length === 0">
      <td *ngFor="let i of emptyLines">-</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <a class="mb-3" mat-flat-button color="primary" routerLink="/transactions">
    <span i18n>View Transaction Log</span>
  </a>
</div>
