@use '@angular/material' as mat;

@mixin theme($theme) {
  app-player-list {
    $censored: mat.get-theme-color($theme, tertiary);

    span.pin {
      color: $censored;
      background-color: $censored;

      &.visible {
        color: mat.get-theme-color($theme, on-tertiary);
      }
    }
  }
}
