<div class="px-1">
  <p class="text-center">
    <ng-container i18n>Your PIN is </ng-container>
    <span class="pin font-mono" appPinHider>{{ banker.pin }}</span>
  </p>
  <table class="monopoly-table mx-auto w-full md:w-2/3">
    <thead>
      <tr>
        <th i18n>Name</th>
        <th i18n>PIN</th>
      </tr>
    </thead>
    <tbody>
      @for (p of players; track p) {
        <tr>
          <td>{{ p.name }}</td>
          <td><span class="pin" appPinHider>{{ p.pin }}</span></td>
        </tr>
      }
    </tbody>
  </table>
  <button i18n-title title="Add Player" mat-fab (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
