<div class="container">
  <p i18n>Your PIN is <span class="pin" appPinHider>{{ banker.pin }}</span></p>
  <table class="mx-auto my-3 monopoly-table" [class.full-width]="isHandset">
    <thead>
      <tr>
        <th i18n>Name</th>
        <th i18n>PIN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of players">
        <td>{{ p.name }}</td>
        <td><span class="pin" appPinHider>{{ p.pin }}</span></td>
      </tr>
    </tbody>
  </table>
  <button i18n-title title="Add Player" mat-fab (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
