@import 'variables';
@import 'breakpoints';

.container {
  font-size: large;
}

.pin {
  font-family: monospace;
  font-size: 16px;
}

@include media-breakpoint-up(md) {
  table {
    width: 60%;
  }
}

@include media-breakpoint-down(md) {
  table {
    width: 100%;
  }
}

p {
  text-align: center;
}

button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 1.2em;
}
