@import "variables";
@import "breakpoints";

.container {
  font-size: large;
}

.pin {
  font-family: monospace;
  font-size: 16px;
}

table {
  border-collapse: collapse;

  & p {
    font-size: medium;
  }
}

@include media-breakpoint-up(md) {
  table {
    width: 60%;
  }
}

@include media-breakpoint-down(md) {
  table {
    width: 100%;
  }
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

thead {
  background: $monopoly-red;
  color: white;
}

p {
  text-align: center;
}

button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 1.2em;
}
