@import 'breakpoints';

.container {
  font-size: large;
}

@include media-breakpoint-up(md) {
  table {
    width: 60%;
  }
}

@include media-breakpoint-down(md) {
  table {
    width: 100%;
  }
}

h2 {
  text-align: center;
}
