<div class="px-1 pb-1">
  <h2 i18n class="text-center">Transaction Log</h2>

  <table class="monopoly-table mx-auto w-full md:w-2/3">
    <thead>
      <tr>
        <th i18n>Time</th>
        <th i18n>From</th>
        <th i18n>To</th>
        <th i18n>Amount</th>
      </tr>
    </thead>
    <tbody>
      @for (tx of transactions; track tx) {
        <tr>
          <td>{{ tx.date | date:'h:mm a' }}</td>
          <td>{{ tx.sender.name | localizeName }}</td>
          <td>{{ tx.recipient.name | localizeName }}</td>
          <td>${{ tx.amount }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
