<app-loading></app-loading>
<mat-toolbar class="app-toolbar" [style.margin-bottom]="addMargin ? '1em' : ''">
  <h1>CASHLESS</h1>

  <div class="ms-auto">
    <a i18n-title title="Manage Players" mat-icon-button *ngIf="account?.isBanker" routerLink="/banker/players">
      <mat-icon>manage_accounts</mat-icon>
    </a>

    <a i18n-title title="Quit" mat-icon-button *ngIf="account" (click)="leaveGame()">
      <mat-icon>logout</mat-icon>
    </a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
