<div class="container">
  <h2 i18n class="mat-headline-medium">Account Info</h2>

  <ul>
    <li i18n *ngIf="!player.isBank">Name: {{ player.name }}</li>
    <li i18n>
      Balance:
      <ng-template *ngIf="updatingBalance; else elseBlock">—</ng-template>
      <ng-template #elseBlock>
        {{ balance | currency:'USD':'symbol':'1.0-0':'en-US' }}
      </ng-template>
    </li>
  </ul>

  <mat-divider></mat-divider>

  <h2 i18n class="mat-headline-medium">Transfer Money</h2>
  <app-transfer-money></app-transfer-money>

  <app-payment-log (balanceChange)="updateBalance()"></app-payment-log>
</div>
