name: Test & Deploy to GitHub Pages
on:
  push:
    tags:
      - v1.*
jobs:
  cashless:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Lint
        run: mvn spotless:check
      - name: Test
        run: mvn test
  github-pages:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: client/package-lock.json
      - name: Install Dependencies
        run: npm clean-install
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm test -- --watch false
      - name: Build
        run: npm run build
      - name: Deploy
        run: |
          cd dist/cashless/browser/es-CR
          git switch --orphan gh-pages
          git config user.name Octocat
          git config user.email "octocat@users.noreply.github.com"
          git --work-tree . add -A
          git commit -qm "Deploy from ${GITHUB_SHA}"
          git push -f origin HEAD
