@use 'sass:map';
@use '@angular/material' as mat;

$monopoly-green: map.get(mat.$m2-green-palette, 100);
$monopoly-red: map.get(mat.$m2-red-palette, 900);
$monopoly-red-palette: mat.m2-define-palette(mat.$m2-red-palette, 900);
